# Ref. App. configuration
spring:
  application:
    name: hexagonal-spring-ref-app

  threads:
    virtual:
      enabled: true

  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
      
server:
  port: 8085
  max-http-request-header-size: 16KB
  servlet:
    context-path: /
  forward-headers-strategy: FRAMEWORK

management:
  security:
    enabled: false
  health:
    vault:
      enabled: false
    redis:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health,metrics,env
    health:
      show-details: always
      show-components: always

logging:
  level:
    com.emedina.hexagonal.ref.app.api: TRACE
